*  {
  padding: 0;
  margin: 0;
  width: 100%;
    box-sizing: border-box;
}
body  {
  max-width: 1440px;
  margin: auto;
}
main  {
  margin: auto;
}
.project_tittle {
  position: sticky;
  top: 0;
  text-align: center;
  padding: 40px 20px;
  background: #000000;
  color: #ffffff;
}
.card_container {
  display: grid;
  padding: 20px 10px;
  grid-template-columns: repeat(4, 320px);
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}
.card {
  border: 1px solid black;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
}
.card:hover  {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:nth-of-type(even) {
  border: 2px dotted green;
}
.card:nth-of-type(odd) {
  border: 2px solid black;
}
.henry-holder {
  width: 20%;
  border-style: solid;
  border-color: gray;
  border-width: 0.2;
  border-radius: 20px;
  padding: 30px;
}

/* nonso"s css styles */
.nonso_header {
  background-color: blue;
  text-align: center;
   padding: 40px;
   color: #ffffff;
   border-bottom: 5px solid skyblue;
}

.resume_content  {
  width: 100%;
  border-top: 5px solid blue;
  background-color: skyblue;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: flex-start;
}
.resume_content h2  {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 20px;
}
.resume_left  {
  padding: 60px 40px;
}
.display_column  {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.resume_right  {
  background: #ffffff;
  margin-top: 20px;
  padding: 30px 40px;
}

/* style the labels on the left side */
.nonso_contact  {
  font-size: 20px;
}
.padding_left_30,
.nonso_contact {
  padding-left: 30px;
}
.nonso_contact .nonso_label  {
  font-weight: 700;
}

/* style work history section */
.job_tittle,
.company {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.job_tittle span:first-child,
.company span:first-child {
  font-weight: 700;
  font-size: 28px;
}
.company span:first-child  {
  font-size: 20px;
}
.text_right  {
  text-align: right;
}

.job_container  {
  padding-left: 5px;
}
.job_info  {
  margin-bottom: 30px;
}
.list  {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* damiete ibama's css styles */
.dami_header {
  background-color: rgb(46, 126, 232);
  text-align: center;
  padding: 40px;
  color: #ffffff;
  border-bottom: 5px solid skyblue;
}
.cv_content{
  width: 100%;
  border-top: rgb(46, 126, 232);
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: flex-start;
}
.cv_left{
  padding-top: 60px 40px;
}
.d_display_column{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cv_right{
  background: #ffffff;
  margin-top: 20px;
  padding: 30px 40px;
}
.cv_content h2{
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 20px;
}
.dami_contact{
font-size: 20px;
}
.padding_30 , .dami_contact{
  padding-left: 30px;
}
.dami_contact ,.dami_label{
  font-weight: 700;
}
.job_tittle,
.company_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.job_tittle span:first-child,
.company_titile span:first-child {
  font-weight: 700;
  font-size: 28px;
}
.company_title span:first-child {
  font-size: 20px;
}
.title_right {
  text-align: right;
}

.job_container {
  padding-left: 5px;
}
.job_details {
  margin-bottom: 30px;
}
.job_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.venee_header {
  color: rgb(6, 6, 7);
  background-color: crimson;
  text-align: center;
  margin-top: 30px;
}
/* rosheedat's css style */
.rosheedat_card {
  border: 1px solid red;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.rosheedat_header {
  color: brown;
  text-align: center;
  font-size: 2em;
}

/* TEMIDAYO'S CSS STYLES */
.temi-main {
  width: 70vw;
  height: 100%;
  margin: 20px auto;
  border: 1px solid #0086de;
  font-size: 0.8em;
  font-family: Poppins;
  line-height: 1.5em;
}

h1.temi-h1 {
  font-size: 3em;
  color: #d9edfa;
  font-weight: bold;
}
.temi-header {
  background-color: #0086de;
  padding: 40px;
  text-align: center;
  border-bottom: 3px solid white;
}

.main-container {
  background-color: #d9edfa;
  display: flex;
  border-top: 4px solid #0086de;
}

.category-container {
  flex: 1;
  padding: 50px 20px 90px;
}

.profession-container {
  background-color: #ffffff;
  flex: 2;
  margin-top: 20px;
  padding: 30px 30px 90px;
}

div.p-summary,
div.experience,
.temi-para,
.sub-head ~ span {
  padding-left: 15px;
}

.temi-main ul {
  padding-left: 25px;
}

.container1,
.container2,
.history-category {
  display: flex;
  flex-direction: column;
  gap: 1.9em;
}

.history-category {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

div.temi-para {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

h3.sub-head {
  margin-bottom: 1px;
  font-size: 1.3em;
}

span.temi-label {
  font-weight: 800;
}

span.temi-label2 {
  padding-left: 2px;
}

.para1 > span {
  display: block;
}

div.para1 {
  display: flex;
}

span.temi-date {
  text-align: right;
}

/* The end of Temidayo's Css styles */

.liz {
  color: brown;
  text-align: center;
  margin-top: 30px;
}

/* agnes css styles */
.agnes_figcaption {
  color: blue;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
.agnes {
  margin-left: auto;
  margin-right: auto;
}
.agnes_th,
td {
  padding: 10px;
}

/* bukola's css styling lines 251-317*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}

header {
  padding: 3% 10%;
  background-color: rgb(65, 153, 224);
  text-transform: uppercase;
  color: white;
  border-bottom: 4px solid skyblue;
  padding: 50px 50px 50px 500px;
}

.whole-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: skyblue;
  border-top: 4px solid rgb(65, 153, 224);
  border-bottom: 4px solid skyblue;
}

.left-section {
  width: 70%;
  padding: 4%;
  line-height: 30px;
  background-color: skyblue;
}
.right-section {
  padding: 3%;
  line-height: 30px;
  background-color: white;
  margin-top: 1%;
}
.whole-body h2{
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 30px;
  padding-bottom: 10px;
}
.whole-body div span{
  padding-left: 30px;
}
.whole-body div span:first-child{
  font-weight: 800;
}
.first-ul{
  padding-left: 50px;
}
.whole-body p{
  padding-left: 50px;
}
.right-texts{
  padding-left: 25px;
}
.right-texts:nth-child(5){
  padding-top: 20px;
}
.second-ul{
  padding-left: 50px;
}

/* Blessing Dawodu's style */
#description {
  padding: 20px;
  text-transform: capitalize;
  text-align: center;
  background-color: #000000;
  color: white;
}

#description:hover {
  color: #dad6d6e1;
}

#blog {
  background-color: #dad6d64d;
  color: #000000;
  padding: 20px;
  margin: 10px;
  line-height: 2;
}

.capitalize {
  text-transform: capitalize;
  margin: auto;
}

.text {
  font-size: 20px;
}

/* Opuba Rachel's Styles */
.opuba-card {
  margin: 2rem auto;
  background-color: rgb(255, 234, 182);
  padding: 0.8rem;
  padding-bottom: 8rem;
  width: 250px;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 400;
}

.opuba-h4,
.opuba-huge {
  font-size: 1.185rem;
  line-height: 1.5rem;
}

.opuba-h4 {
  margin-bottom: 0;
}
.opuba-price {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
}

.opuba-amount {
  font-size: 2rem;
  padding-right: 1rem;
}

.opuba-btn {
  text-align: center;
}

.opuba-button {
  padding: 1.1rem 5.5rem;
  border-radius: 40px;
  background-color: white;
  margin: 0.5rem 0;
  border: 1px solid grey;
}

.opuba-button:hover {
  background-color: rgb(234, 233, 233);
  cursor: pointer;
}

.opuba-li {
  list-style: none;
  margin-bottom: 0.3rem;
}

.opuba-li::before {
  content: "\2713\0020";
  font-weight: 900;
  margin-left: -2.2rem;
  padding-right: 0.5rem;
}

.opuba-span {
  border-bottom: 3px dotted black;
}

/* why style span? this is too general */
/* ul {text-align: justify; color: crimson;} */

.content {
  border: 2px solid black;
  border-radius: 10px;
  max-width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* class name should be in camel case */
.Crys {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

/* Nurat's CSS   --- Beginning---*/
/* ------------------------------------*/

#myresume_body {
  background-color: rgb(210, 239, 250);
  text-align: center;
  width: 800px;
  height: 900px;
  margin: 0 auto;
}

#nurat_header {
  background-color: rgb(23, 166, 223);
  width: 100%;
  height: 130px;
  color: white;
}

#nurat_header h1 {
  transform: scale(1, 1.5);
  padding-top: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#divider {
  content: " ";
  display: block;
  border-bottom: 3px solid rgb(246, 253, 255);
  padding-top: 33px;
}

#left_sidebar,
#right_sidebar {
  height: 600px;
  width: 40%;
  text-align: left;
  float: left;
}

#right_sidebar {
  background-color: white;
  margin-top: 12px;
  height: 758px;
  width: 60%;
  float: right;
  text-align: justify;
}

#left_sidebar span,
#right_sidebar span {
  font-weight: bold;
}

#left_sidebar h3,
#right_sidebar h3 {
  margin: 35px 0 -5px 40px;
}

#summary h3 {
  margin-top: 20px;
}

#left_sidebar p,
#left_sidebar ul,
#right_sidebar ul,
#right_sidebar p {
  font-size: 15px;
  margin: 15px 30px -10px 50px;
  line-height: 18px;
}

#left_sidebar ul,
#right_sidebar ul {
  margin-left: 25px;

}

.history {
  margin-bottom: 30px;
}

#right_sidebar .history p:first-child {
  margin-bottom: -12px;
}

.skills li {
  line-height: 25px;
}
/* ------------------------------------*/
/* Nurat's CSS   --- End---*/
/* Cynthia's styling*/

.mine {
  color: yellow;
}
/* ukeni's css styles */
.uk_container {
  border: 2px solid black;
  border-radius: 5px;
  width: 355px;
}
.uk_title {
  background-color: rgb(0, 162, 255);
  text-align: center;
  padding: 40px;
  color: #ffffff;
  border-bottom: 5px solid skyblue;
  width: 350px;
}
.uk_paragraph p {
  background-color: bisque;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: o auto;
  width: 350px;
}

/* Esther's css style */
.firstpage {
  margin-left: 90px;
}
.esther_card {
  box-sizing: border-box;
  border: 1px solid rgb(175, 238, 234);
  border-radius: 10px;
  background-color: rgb(9, 214, 201);
  width: 500px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(65, 64, 64);
  margin: 0 auto;
  padding: 30px 50px;
  text-align: center;
}
.esther_img {
  width: 200px;
  padding-top: 15px;
  border-radius: 100%;
}
.about_esther {
  padding-top: 15px;
}
.esther_skill {
  padding-top: 10px;
}
.esther_lang {
  padding-top: 10px;
}
.esthers_lang {
  padding-top: 10px;
}
/* esther resume style */
.my_resume {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(50,148,230);
}
.header_esther {
  background-color: rgb(50,148,230);
  text-align: center;
  color: white;
  padding: 50px;
  font-weight: 800;
  letter-spacing: 1px;
}
.e_resume {
  background-color: rgb(193, 223, 248);
  align-content: flex-start;
  border-top: 5px solid rgb(193, 223, 248);
  display: inline-block;
  grid-template-columns: 1fr 2fr;
}
.e_resume h3 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 15px;
}
.e_resumeleft {
  padding: 30px 30px;
  text-align: justify;
  width: 400px
}
.e_contact {
  font-size: 18px;
  padding-left: 20px;
  padding-top: 20px;
}
.e_skills {
  padding-left: 30px;
}
.e_label {
  font-weight: 600;
  padding-left: 10px;
}
.div[e_label] {
 padding-left: 10px;
}

.e_column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.e_right {
  background: white;
  margin-top: 20px;
  padding: 30px 40px;
  font-size: 18px;
  width: 600px;
}
.e_profession {
  padding-top: 20px;
}

/*Oluwatomi's CSS*/
.tomi_header {
  font-size: 100px;
  color: rebeccapurple;
  text-align: center;
}
/* Ameena's CSS */
#ami-blog-post {
  padding: 2rem;
  border-bottom: 2px solid #fa8072a0;
  background-color: rgb(247, 216, 213);
}
ul.ami-card-row {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
li.ami-card-wrapper {
  border: 0;
  width: 33.33%;
  max-width: 300px;
  min-width: 270px;
  padding: 6px;
}
.ami-card {
  border: none;
  background-color: #fff;
  border-radius: 7.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ami-card-bg-img1 {
  background: url(./images/techfive\ small.jpg) center no-repeat;
}
.ami-card-bg-img2 {
  background: url(./images/techfour.jpg) center no-repeat;
}
.ami-card-bg-img3 {
  background: url(./images/techthreeSmall.jpg) center no-repeat;
}
.ami-card-bg-img1,
.ami-card-bg-img2,
.ami-card-bg-img3 {
  background-size: cover;
  height: 180px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
}
.ami-user-info,
.ami-card-content {
  padding: 0.75rem;
}
.ami-user-img {
  max-width: 4rem;
  max-height: 4rem;
  border: none;
  overflow: hidden;
  border-radius: 100%;
  display: inline-block;
}
.ami-user-img > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
span.ami-text {
  vertical-align: top;
  min-width: 150px;
  display: inline-block;
  padding-left: 5px;
}

span.ami-time {
  font-weight: 100;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
}
.ami-card-content p {
  margin: 0 !important;
}
.ami-card-content > button {
  display: inline-block;
  width: auto;
  font-size: 12px;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  padding: 2px;
}
.ami-blue-btn {
  border: 2px solid #0059ff;
  background-color: #0059ff;
}
.ami-red-btn {
  border: 2px solid #f34b4b;
  background-color: #f34b4b;
}
.ami-yellow-btn {
  border: 2px solid #ffd000;
  background-color: #ffd000;
}


/*Chidera's CSS*/
#bodyody{
    background-color: rgb(216, 92, 129);
    padding: 10px;
}
.labela{
    font-weight: bold;
    font-size: large;
}
#h10{
    text-align: center;
}
#butn5{
    margin: 0px 10px 10px 70px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
}
#hr4{
    margin-bottom: 20px;
    margin-top: -15px;
}
.dera[type=text],[type=email],[type=tel],select,textarea{
    width: 320px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 18px;
    resize: none;
    margin-left: 5px;
}

/* Esther's css style */
.firstpage {
  margin-left: 90px;
}
.esther_card {
  box-sizing: border-box;
  border: 1px solid rgb(175, 238, 234);
  border-radius: 10px;
  background-color: rgb(9, 214, 201);
  width: 500px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(65, 64, 64);
  margin: 0 auto;
  padding: 30px 50px;
  text-align: center;
}
.esther_img {
  width: 200px;
  padding-top: 15px;
  border-radius: 100%;
}
.about_esther {
  padding-top: 15px;
}
.esther_skill {
  padding-top: 10px;
}
.esther_lang {
  padding-top: 10px;
}
.esthers_lang {
  padding-top: 10px;
}
/* esther resume style */
.my_resume {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(50,148,230);
}
.header_esther {
  background-color: rgb(50,148,230);
  text-align: center;
  color: white;
  padding: 50px;
  font-weight: 800;
  letter-spacing: 1px;
}
.e_resume {
  background-color: rgb(193, 223, 248);
  align-content: flex-start;
  border-top: 5px solid rgb(193, 223, 248);
  display: inline-block;
  grid-template-columns: 1fr 2fr;
}
.e_resume h3 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 15px;
}
.e_resumeleft {
  padding: 30px 30px;
  text-align: justify;
  width: 400px
}
.e_contact {
  font-size: 18px;
  padding-left: 20px;
  padding-top: 20px;
}
.e_skills {
  padding-left: 30px;
}
.e_label {
  font-weight: 600;
  padding-left: 10px;
}
.div[e_label] {
 padding-left: 10px;
}

.e_column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.e_right {
  background: white;
  margin-top: 20px;
  padding: 30px 40px;
  font-size: 18px;
  width: 600px;
}
.e_profession {
  padding-top: 20px;
}
